<!DOCTYPE html>
<html>
<head>
<title> Oregon Trail </title>

<!-- connects html file to css files -->
<link rel = "stylesheet" type ="text/css" href = "css/index.css">
<link rel = "stylesheet" type ="text/css" href = "css/global.css">
</head>


<body background="/images/OregonTrailIndex.jpg">


<h1> Oregon Trail </h1> 

<h4 id = "spacebar"> Press the spacebar to continue  </h4> 


<!-- connects html file to js files -->
<script type="text/javascript" src="js/index.js"></script>

<script type="text/javascript" src="js/global.js"></script>

</body>
</html>