<!DOCTYPE html>
<html>
<head>
<title> Oregon Trail </title>
<!-- connects html file to css files -->
<link rel = "stylesheet" type ="text/css" href = "css/mainmenu.css">
<link rel = "stylesheet" type ="text/css" href = "css/global.css">
</head>


<body background="/images/mainmenu.png">


<h1> Oregon Trail Main Menu </h1> 


<h3 id = "optionOne"> 1. Travel the trail  </h3> 
<h3 id = "optionTwo"> 2. Learn about the trail  </h3> 
<h3 id = "optionThree"> 3. See the Oregon top 10 </h3> 
<h3 id = "optionFourOn"> 4. Turn Sound On </h3> 
<h3 id = "optionFourOff"> 4. Turn Sound Off </h3>
<h3 id = "select"> Select an option  </h3> 



<audio id = "sound" >
<source src ="/music/music.mp3" hidden="true" >
</audio> 


<!-- connects html file to js files -->
<script type="text/javascript" src="js/mainmenu.js"></script>

<script type="text/javascript" src="js/global.js"></script>


</body>
</html>