<!DOCTYPE html>
<html>
<head>
<title> Oregon Trail </title>
<!-- connects html file to css files -->
<link rel = "stylesheet" type ="text/css" href = "css/setup.css">
<link rel = "stylesheet" type ="text/css" href = "css/global.css">
</head>


<body background="/images/mainmenu.png">


<h1> &nbsp; &nbsp; Oregon Trail Set Up </h1> 

<h3 id = "optionOne"> 1. Be a banker from Boston  </h3> 
<h3 id = "optionTwo"> 2. Be a carpenter from Ohio  </h3> 
<h3 id = "optionThree"> 3. Be a farmer from Illinois </h3> 
<h3 id = "optionFour"> 4. Find out the differences between the choices </h3> 
<h4 id = 'spacebar'> Press the spacebar to return to the main menu </h4>

<!-- connects html file to js files -->
<script type="text/javascript" src="js/setup.js"></script>

<script type="text/javascript" src="js/global.js"></script>

</body>
</html>