<!DOCTYPE html>
<html>
<head>
<title> Oregon Trail </title>
<!-- connects html file to css files -->
<link rel = "stylesheet" type ="text/css" href = "css/setup.css">
<link rel = "stylesheet" type ="text/css" href = "css/global.css">
</head>


<body background="/images/mainmenu.png">


<h1> &nbsp; &nbsp; Oregon Trail Set Up </h1> 

<div id = "gameContainer"> </div>


<!-- connects html file to js files -->
<script type="text/javascript" src="js/setup.js"></script>

<script type="text/javascript" src="js/global.js"></script>

</body>
</html>


