<!DOCTYPE html>
<html>
<head>
<title> Oregon Trail </title>
<!-- connects html file to css files -->
<link rel = "stylesheet" type ="text/css" href = "css/topten.css">
<link rel = "stylesheet" type ="text/css" href = "css/global.css">
</head>


<body background="/images/mainmenu.png">

<h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Hall of Fame </h1> 

<table style = "width: 100%">
<tr>
<th> Name </th>
<th> Score </th>
<th> Date </th>
</tr>

<tr>
<th> 1. Soup Meyon </th>
<th> 9000 </th>
<th> 3/2/18 </th>
</tr>


<tr>
<th> 2. Akimbro </th>
<th> 8890 </th>
<th> 2/7/18 </th>
</tr>


<tr>
<th> 3. Sneevik </th>
<th> 8645 </th>
<th> 2/9/18 </th>
</tr>


<tr>
<th> 4. Yungonkim </th>
<th> 8000 </th>
<th> 10/23/17 </th>
</tr>


<tr>
<th> 5. WhiteAZNguy </th>
<th> 7755 </th>
<th> 1/17/18 </th>
</tr>


<tr>
<th> 7. Yeahhhhitsalex </th>
<th> 7530 </th>
<th> 7/23/17 </th>
</tr>


<tr>
<th> 8. BubbaDog </th>
<th> 6500 </th>
<th> 2/28/18 </th>
</tr>


<tr>
<th> 9. Anteater0 </th>
<th> 6345 </th>
<th> 12/23/17 </th>
</tr>

<tr>
<th> 10. Moy </th>
<th> 5500 </th>
<th> 12/23/17 </th>
</tr>
</table>

<h4 id = 'spacebar'> Press the spacebar to return to the main menu </h4>

<!-- connects html file to js files -->
<script type="text/javascript" src="js/topten.js"></script>

<script type="text/javascript" src="js/global.js"></script>

</body>
</html>