<!DOCTYPE html>
<html>
<head>
<title> Oregon Trail </title>
<!-- connects html file to css files -->
<link rel = "stylesheet" type ="text/css" href = "css/trail.css">
<link rel = "stylesheet" type ="text/css" href = "css/global.css">
</head>


<body background="/images/mainmenu.png" > 

<img src="/images/trail.jpg" alt="Trail" align = "middle" style = "width: 1500px; height: 350px"> 

<img src="/images/wagon.png" alt="Wagon progress" align = "right" style="width: 300px; height: 200px" >



<table style = "width: 100%">
<tr>
<th> Name </th>
<th> Score </th>
<th> Date </th>
</tr>

<tr>
<th> 1. Days on trail   </th>
<th> 2. Miles traveled   </th>
<th> 3. Party health status   </th>
</tr>


<tr>
<th>  4. Current weather  </th>
<th> 5. Current pace </th>
<th>  6. Current Terrain </th>
</tr>

<tr>
<th> 7. # of party members alive  </th>
</tr>
</table>


<h3 id = "back"> Press ENTER to travel a day or SPACEBAR to change pace!  </h3> 

<!-- connects html file to js files -->
<script type="text/javascript" src="js/trail.js"></script>

<script type="text/javascript" src="js/global.js"></script>

</body>
</html>