<!DOCTYPE html>
<html>
<head>
<title> Oregon Trail </title>
<!-- connects html file to css files -->
<link rel = "stylesheet" type ="text/css" href = "css/trail.css">
<link rel = "stylesheet" type ="text/css" href = "css/global.css">
</head>


<body background="/images/mainmenu.png" > 

<img src="/images/trail.jpg" alt="Trail" align = "middle" style = "width: 500px; height: 350px"> 

<img src="/images/wagon.png" alt="Wagon progress" align = "right" style="width: 300px; height: 200px" >



<div id="button">
<h3 id = "back"> Press ENTER to travel a day or SPACEBAR to change pace!  </h3> 
</div>

<!-- displays div in the trail.html -->
 <div id="information"></div>

 		
		<input type="button" id="nextButton" value="Next Day" />;

        <input type="button" id="restartButton" value="Restart Game" />;

<!-- connects html file to js files -->
<script type="text/javascript" src="js/trail.js"></script>

<script type="text/javascript" src="js/global.js"></script>

</body>
</html>