body {


	background: "/images/OregonTrailIndex.jpg";
background-repeat: no-repeat;
background-size: 1600px 800px;


}

h1 {

	color: white;
text-align: center;
}

h4 {

	color: white;
text-align: center;
}


