body {


	background: "/images/mainmenu.png";
	background-repeat: no-repeat;
	background-size: 1600px 800px;


}

div{
	margin: auto;
	color: white;
	font-size: 30px;
	line-height: 35px;
	width: 450px;
	text-align: center;


}


 h1{

	color: grey;
	vertical-align: middle;
	line-height: 300px;
	text-align: center;
}



text-align: center;
}
