body {


	background: "/images/mainmenu.png";
background-repeat: no-repeat;
background-size: 1600px 800px;


}
img  {
	position: relative;
top: 225px;
}


h3 {
	position: relative;
top: 700px;
color: white;
vertical-align: bottom;
line-height: 20px;
text-align: center;
}

div {
	margin: auto;
	color: white;
	font-size: 20px;
	line-height: 70px;
	width: 450px;
	text-align: left;
}
